**/.~lock.*
.idea/
tests/.pytest_cache/
__pycache__/
index_exporter/__pycache__/
.pytest_cache/
/anomaly_detector/loans.xlsx
/anomaly_detector/loan_anomalies.csv
/dummy_volume/
/anomaly_detector/anomlies.csv
