**/.~lock.*
.idea/
tests/.pytest_cache/
__pycache__/
index_exporter/__pycache__/
.pytest_cache/
/anomaly_detector/loans.xlsx
/anomaly_detector/loan_anomalies.csv
/dummy_volume/
/anomaly_detector/anomlies.csv
/file_augmenter/
/example_output_extended.csv
/anomalies_output_72.csv
/anomalies_output_1M.csv
